@charset "UTF-8";

html {
  margin: 0;
  padding:0;
}

body {
  
}

img {
  
    
}

/* ----------------------------------------
ヘッダー
 ----------------------------------------*/
header {
    max-width: 100%;
    height: 60px;

}

header img {
    width: 120px;
    height: 40px;

}





/* ----------------------------------------
メイン
 ----------------------------------------*/
main {

}

.mainvisual img {
    width: 1280px;
    height: 600px;
}

.about-container {

}

.bicycle-container {

}





/* ----------------------------------------
フッター
 ----------------------------------------*/
footer {

}