@charset "UTF-8";

html {
  margin: 0;
  padding:0;
}

body {
  
}

img {
  
    
}

/* ----------------------------------------
ヘッダー
 ----------------------------------------*/
header {
    max-width: 100%;
    height: auto;

}

header img {
    width: 120px;
    height: auto;
    margin: 10px 930px 10px 230px;

}

nav li {
    list-style: none;
    float: right;
}



/* ----------------------------------------
メイン
 ----------------------------------------*/
main {

}

.mainvisual img {
    width: 1280px;
    height: 600px;
    text-align: center;
}

.about-container {

}

.about-container img {
    width: 100px;
    height: auto;
}

.bicycle-container {

}





/* ----------------------------------------
フッター
 ----------------------------------------*/
footer {

}